.text-stroke {
    -webkit-text-stroke: 1px black;
    color: white; 
    text-shadow: 0 0 1px black; 
  }

  .animate-slide-in {
    transform: translateX(0);
  }
  
  .animate-slide-out {
    transform: translateX(-100%);
  }
  

